/* Variables */
$black: #222222;
$blue: #0000ff;
$light-blue: #aaaaff;
$gray: #777777;
$white: #ffffff;

$menu-gradient-main: #295af5;
$menu-gradient-secondary: #595ff5;
$menu-width-open: 256px;
$menu-width-close: 110px;

/* Bootstrap override */
$table-border-width: 0;
$table-cell-padding: 0;


@import "~bootstrap/scss/bootstrap.scss";
@import "./sass/font";
@import "./sass/table";
@import "./sass/menu";

/* Reset */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}


.content {
    margin-left: $menu-width-open;
    padding: 20px 40px;
    transition: all .25s;

    &__wrapper {
	    margin: 0 auto;
	    position: relative;
    }

    /*Set margin for content*/
	.menu--close + & {
	    margin-left: $menu-width-close;
	}
}

