.card {
	font-size: 20px;
	line-height: 1.25;
	margin-bottom: 1em;

	&__title {
		font-family: $fontLarge;
		font-size: 24px;
		margin-bottom: .8em;
		text-transform: capitalize;
	}

	&__body {
		font-family: $fontLarge;
		height: 100%;
	}

	&__result {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__row {
		display: flex;
	}

	&__data-sub {
		line-height: 2;
	}

	&__graph {
		margin: 0 -15px;
	}

	&__label {
		padding-right: 10px;

		@include media-breakpoint-up(md) {
			min-width: 200px;
		}
	}

	&__badge {

		/*Bootstrap override*/
		&.badge-danger {
			color: $white !important;
		}
	}

	&--address {
		&__hash {
			font-size: 24px;
			font-weight: 400;
		}

		&__wallet {
			font-size: 24px;
			font-weight: 200;
		}
	}

	&--block &__row {
		justify-content: flex-start;
	}

	&--block &__label {
		padding-right: 10px;
	}

	&--status &__row {
		justify-content: flex-start;
	}

	&--market {
		font-size: 14px;
	}

	&--market &__info {
		display: flex;
		margin-top: .5em;
	}

	&--market &__icon--arrow {
		font-weight: bold;
	}

	&--market &__data-main {
		font-size: 48px;
		font-weight: bold;
		line-height: .75;
	}

	&--market &__data-sub {
		font-weight: bold;
	}

	&--market &__info-source {
		color: $gray;
		white-space: nowrap;
	}

	&--status &__result--status {
		color: $green;
	}

	&--graph {
		padding: 0 20px;
	}

	&--graph &__data-main {
		font-size: 1.25em;
		font-weight: bold;
		line-height: .75;
	}

	&--graph &__data-sub {
		font-size: .8em;
		color: $gray;
	}

}
