
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: 'bariol';
    src: url('/font/bariol_bold_italic-webfont.eot');
    src: url('/font/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bariol_bold_italic-webfont.woff2') format('woff2'),
         url('/font/bariol_bold_italic-webfont.woff') format('woff'),
         url('/font/bariol_bold_italic-webfont.ttf') format('truetype'),
         url('/font/bariol_bold_italic-webfont.svg#bariolbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'bariol';
    src: url('/font/bariol_bold-webfont.eot');
    src: url('/font/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bariol_bold-webfont.woff2') format('woff2'),
         url('/font/bariol_bold-webfont.woff') format('woff'),
         url('/font/bariol_bold-webfont.ttf') format('truetype'),
         url('/font/bariol_bold-webfont.svg#bariolbold') format('svg');
    font-weight: bold;

}

@font-face {
    font-family: 'bariol';
    src: url('/font/bariol_regular_italic-webfont.eot');
    src: url('/font/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bariol_regular_italic-webfont.woff2') format('woff2'),
         url('/font/bariol_regular_italic-webfont.woff') format('woff'),
         url('/font/bariol_regular_italic-webfont.ttf') format('truetype'),
         url('/font/bariol_regular_italic-webfont.svg#bariolitalic') format('svg');
    font-style: italic;

}

@font-face {
    font-family: 'bariol';
    src: url('/font/bariol_thin_italic-webfont.eot');
    src: url('/font/bariol_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bariol_thin_italic-webfont.woff2') format('woff2'),
         url('/font/bariol_thin_italic-webfont.woff') format('woff'),
         url('/font/bariol_thin_italic-webfont.ttf') format('truetype'),
         url('/font/bariol_thin_italic-webfont.svg#bariolitalic') format('svg');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'bariol';
    src: url('/font/bariol_thin-webfont.eot');
    src: url('/font/bariol_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bariol_thin-webfont.woff2') format('woff2'),
         url('/font/bariol_thin-webfont.woff') format('woff'),
         url('/font/bariol_thin-webfont.ttf') format('truetype'),
         url('/font/bariol_thin-webfont.svg#bariolregular') format('svg');
    font-weight: 100;

}

@font-face {
    font-family: 'bariol';
    src: url('/font/bariol_regular-webfont.eot');
    src: url('/font/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bariol_regular-webfont.woff2') format('woff2'),
         url('/font/bariol_regular-webfont.woff') format('woff'),
         url('/font/bariol_regular-webfont.ttf') format('truetype'),
         url('/font/bariol_regular-webfont.svg#bariolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$fontLarge: 'bariol';
$fontSmall: 'Source Sans Pro', sans-serif;

html, body {
	color: $black;
	font-size: 16px;

	/* Fix #25 - Windows rendering of fonts. */
	-webkit-font-smoothing: subpixel-antialiased;
	/* -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1); */
	text-rendering: optimizeLegibility;
	/* text-shadow: $white 0 1px 1px; */
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
	display: inline-block;
	font-family: $fontLarge;
	font-weight: normal !important;
}

h3 {
	font-size: 20px;
	height: 22px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	width: 100%;
}

h4 {
	font-size: 26px;
	font-weight: bold !important;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	width: 100%;
}

h5 {
	font-family: $fontSmall;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
}

p {
	font-family: $fontSmall;
}

.bariol {
	font-family: $fontLarge;
}

.code {
	font-family: $fontSmall;
}

.font {
	&--big {
		font-size: 18px;
	}

	&--bigger {
		font-size: 22px;
	}

	&--bold {
		font-weight: bold;
	}

	&--bolder {
		font-weight: bolder;
	}
}
