
/* Overrides bootstrap table class */
.footer {
	;
	border-top: 1px solid $gray-light;
	bottom: 0;
	font-size: .8em;
	width: 100%;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    	padding: 2em;
	}

	&__logo {
		display: inline-block;
		margin-right: 2em;
	}

	&__data-wrapper {
		display: flex;
		flex-direction: row;
	}

	&__data-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 1em;
	}

	&__title {
		text-transform: uppercase;
	}

	&__legal {
		font-size: .9em;
		line-height: 1.2;
		margin-bottom: .25em;
	}

	&__social-media-icon {
		color: $gray;
		font-size: 2em;
		margin-right: 1em;

		&:hover,
		&:focus {
			color: initial;
		}

	}

}
