
/* Overrides bootstrap table class */
.footer {
	background-color: $white;
	border-top: 1px solid rgba(34, 34, 34, 0.1);
	bottom: 0;
	font-size: .8em;
	padding: 2em;

	&__logo {
		display: inline-block;
		height: 60px;
		margin-left: 1em;
		margin-right: 2em;
	}

	&__data-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__data-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 1em;
	}

	&__title {
		text-transform: uppercase;
	}

	&__legal {
		font-size: .95em;
		line-height: 1;
		margin-bottom: .25em;
	}

	&__social-media-icon {
		color: $gray;
		font-size: 2em;
		margin-right: 1em;
		text-align: center;

		&:hover,
		&:focus {
			color: initial;
		}

	}

	@include media-breakpoint-down(sm) {
		&__title {
			margin-bottom: .25em;
			margin-top: 2em;
		}

		&__legal {
			font-size: .75em;
			line-height: 1.2;
		}
	}

	@include media-breakpoint-up(md) {
		/* position: fixed; */
	}

}
