
input, select {
	background-color: $white;
    border: 1px solid $gray;
    border-radius: 2px;
	box-sizing: border-box;
	color: $gray-dark;
    display: inline-block;
    margin: 8px 0;
	padding: 12px 20px;

	&::placeholder {
		color: $gray-dark;
	}

	&:focus,
	&:hover {
		border-color: $blue;
		color: $black;
	}
}
