
button {
	background-color: $blue;
	border: 1px solid $blue;
	border-radius: 3px;
	color: $white;
	cursor: pointer;
	margin: 7px 4px 2px 4px;
	padding: 4px 16px;

	&:focus,
	&:hover {
		background-color: darken($blue, 10%);
	}
}

input, select {
	background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 1px;
	box-sizing: border-box;
	color: #3e515b;
	display: inline-block;
	font-size: 14px;
	height: 33px;
    margin: 8px 0;
	padding: 12px 20px;

	&::placeholder {
		color: #3e515b;
	}

	&:focus,
	&:hover {
		border-color: $blue;
		color: $black;
	}
}
