.hr {
	display: flex;
	align-items: center;
	margin: 2em 0;

	&__title {
		font-size: .9em;
		font-weight: bold;
		margin-right: 1em;
		text-transform: uppercase;
	}

	&__wrapper {
		flex: 1;
	}

	&__select {
		margin-left: 1em;
	}

}
