
.menu-desktop {

	background: $menu-gradient-main;
	background: -moz-linear-gradient(-45deg, $menu-gradient-main 1%, $menu-gradient-main 50%, $menu-gradient-secondary 80%);
	background: -webkit-linear-gradient(-45deg, $menu-gradient-main 1%,$menu-gradient-main 50%,$menu-gradient-secondary 80%);
	background: linear-gradient(135deg, $menu-gradient-main 1%,$menu-gradient-main 50%,$menu-gradient-secondary 80%);

	box-shadow: #7d7d7d 0px 0px 16px;
	color: $white;
    float: left;
	font-weight: lighter;
    height: 100vh;
    margin: 0;
    min-height: 550px;
	padding: 1em 2em 2em;
	position: fixed;

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 3.5em;
	}

	&__toggle {
		cursor: pointer;
		font-size: 2em;
	}

	&__logo {
		height: auto;
		margin-right: 2em;
		transition: all 1s cubic-bezier(0, 1, .5, 1);
		/* Used to align with searchbar */
		width: 140px;
	}

	&__title {
		margin: 0;
		text-align: center;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		height: 75%;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		align-items: center;
		color: $white;
		line-height: 1;
		margin: 0;
		padding: 0;
		position: relative;
		transition: all 1s cubic-bezier(0, 1, .5, 1);

		&:hover {
			color: $white;
			text-decoration: none;
		}

	}

	&__item-label {
		/*opacity: 1;
		transition: opacity .5s;*/
		position: absolute;
		left: 40px;
		transition: all 1s cubic-bezier(0, 1, .5, 1);
		/*Prevent text wrapping when width is changed*/
		white-space: nowrap;
	}

	&__icon {
		height: 24px;
		transition: all 1s cubic-bezier(0, 1, .5, 1);
		width: 24px;
	}

	/*Opened modifier*/
	&--open {
		transition: all 1s cubic-bezier(0, 1, .5, 1);
		width: $menu-width-open;
	}

	&--open &__toggle {
		transform: rotate(-90deg);
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	/*Closed modifier*/
	&--close {
		transition: all 1s cubic-bezier(0, 1, .5, 1);
		width: $menu-width-close;
	}

	&--close &__toggle {
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	&--close &__logo {
		height: 0;
		width: 0;
		margin: 0;
		transform: scale(0);
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	&--close &__icon {
		margin: 0 auto;
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	&--close &__item-label {
		display: none;
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	a, a:visited {
		color: $white;
		font-family: 'bariol';
		font-size: 18px;
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	a:hover {
		color: $gray-light;
		transition: all 1s ease;
	}
}

