
.menu-mobile {

	display: block;
	background: $menu-gradient-main;
	background: -moz-linear-gradient(-45deg, $menu-gradient-main 1%, $menu-gradient-main 50%, $menu-gradient-secondary 80%);
	background: -webkit-linear-gradient(-45deg, $menu-gradient-main 1%,$menu-gradient-main 50%,$menu-gradient-secondary 80%);
	background: linear-gradient(135deg, $menu-gradient-main 1%,$menu-gradient-main 50%,$menu-gradient-secondary 80%);

	box-shadow: #7d7d7d 0px 0px 16px;
	color: $white;
	font-weight: lighter;
    height: $menu-mobile-height;
    margin: 0;
	padding: 1em 2em 2em;
	flex: 1;
	/*position: fixed;*/
	width: 100%;

	@include media-breakpoint-up(md) {
		display: none;
	}
}

