.search {

	position: relative;
	width: 100%;

	&:hover {
		box-shadow: 0 6px 10px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.11);
	}

	&__icon {
		position: absolute;
		left: 1em;
		margin-right: 1em;
		opacity: .5;
		top: calc(50% - .5em);
	}

	&__input {
		border: 1px solid lighten($gray, 15%);
	  	border-radius: 2px;
	  	margin: 0;
		padding: 25px;
		padding-left: 45px;
		width: 100%;

		&:focus,
		&:hover {
			border-color: inherit;

			& + svg {
				opacity: 1;
			}
		}
	}

	&--mobile {
	  font-size: .8em;
	}

	&--mobile &__input {
		background: transparent;
	  	border: 1px solid $white-light;
		color: $white;
	}

	&--mobile input.search__input::placeholder {
		color: $white;
	}


}
