.search {
	$search: &;

	align-items: center;
	border: 1px solid lighten($gray, 15%);
	border-radius: 2px;
	display: flex;
	/* Used to align with menu logo */
	min-height: 4em;
	padding: 0 20px;
	position: relative;


	&__icon {
		position: absolute;
		left: 1em;
		margin-right: 1em;
		opacity: .5;
	}

	&__input {
		border: 0;
		flex: 1;
		outline: none;
		padding-left: 2em;

		&:focus {
			& + svg {
				opacity: 1;
			}
		}
	}

	&--mobile {
	  border: 1px solid $white-light;
	  border-radius: 2px;
	  flex: 1;
	  font-size: .8em;
	  min-height: initial;
	  padding: 0 .5em;
	}

	&--mobile &__input {
		background: transparent;
		color: $white;
	}

	&--mobile input.search__input::placeholder {
		color: $white;
	}


}
