.table {
	width: 99.8%;
	border-radius: 5px;
	margin: 1px 1px 20px 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	tr {
		transition: all 1s cubic-bezier(0, 1, .5, 1);
	}

	tr:first-child {

		th {
			padding: 2em;
		}

		td {
			padding-top: 1.5em;
			padding-bottom: 1em;
		}
	}

	tr:nth-child(even) {
		color: $gray;

		td, a, a:visited {
			color: $gray;

			&:hover {
				color: $blue;
			}
		}
	}

	tr:nth-child(odd) {
		color: $gray-dark;

		td, a, a:visited {
			color: $gray-dark;

			&:hover {
				color: $blue;
			}
		}
	}

	th {
		font-size: 1em;
		min-width: 100px;
		padding: 0 .25em;
		padding-bottom: 1em;
		text-transform: uppercase;
	}

	th:first-child {
		padding-left: 2em;
	}

	th:last-child {
		padding-right: 2em;
		text-align: right;
	}

	td {
		min-width: 7em;
		padding: .5em;
		padding-right: .25em;
		padding-bottom: 1em;
		text-align: left;
		/*white-space: nowrap;*/
	}

	td:first-child {
		padding-left: 2em;
	}

	td:last-child { 
		padding-right: 2em; 
		text-align: right; 
		min-width: 0; 
	  } 

	tbody {
		font-size: .9em;
	}

	&--has-divider {

		thead {

			th {
				border-bottom: 1px solid $gray-light;
				padding-bottom: .25em;
			}

		}
	}
}
