
/* Overrides bootstrap table class */
.table {
	width: 100%;

	tr {
		padding: 20px;
		transition: all 1s ease-in;
	}

	tr:nth-child(even) {
		color: $gray;

		td, a, a:visited {
			color: $gray;
		}
	}

	tr:nth-child(odd) {
		color: $gray-dark;

		td, a, a:visited {
			color: $gray-dark;
		}
	}

	th {
		font-size: 1.1em;
		padding-bottom: 1em;
		text-transform: capitalize;
	}

	td {
		min-width: 7em;
		padding: .25em;
		padding-right: .25em;
		text-align: left;
		/*white-space: nowrap;*/
	}

	td:last-child {
		padding-right: 0;
		min-width: 0;
	}

	tbody {
		font-size: .8em
	}
}
