.u {

	&--font-large {
		font-family: $fontLarge;
	}

	&--font-small {
		font-family: $fontSmall;
	}

	&--text-gray {
		color: $gray;
	}

	&--text-green {
		color: $green;
	}

	&--text-red {
		color: $red;
	}

	&__dot {
		display: inline-block;
		line-height: 0;
		margin-right: .5em;
		padding-bottom: 0.2em;
		transform: scale(2.5);
	}

}

.pulse {
	display: block;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(44, 169, 204, 0.4);
	animation: pulse 2s infinite;
  }
  .pulse:hover {
	animation: none;
  }

  @-webkit-keyframes pulse {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(44, 169, 204, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(44, 169, 204, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(44, 169, 204, 0);
	}
  }
  @keyframes pulse {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(44, 169, 204, 0.4);
	  box-shadow: 0 0 0 0 rgba(44, 169, 204, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(44, 169, 204, 0);
		box-shadow: 0 0 0 10px rgba(44, 169, 204, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(44, 169, 204, 0);
		box-shadow: 0 0 0 0 rgba(44, 169, 204, 0);
	}
}
