.u {

	&--text-gray {
		color: $gray;
	}

	&--text-green {
		color: $green;
	}

	&--text-red {
		color: $red;
	}

	&__dot {
		display: inline-block;
		line-height: 0;
		margin-right: .5em;
		padding-bottom: 0.2em;
		transform: scale(2.5);
	}

}
